*{
	margin: 0;
	padding: 0;
	font-family: 'fangzheng' !important;	
}
@font-face {
    font-family: 'fangzheng';
    src: url('../fonts/fangzheng.ttf');
    font-weight: normal;
    font-style: normal;

}
/*头部*/
.header-box{
	width: 100%;
	height: 62px;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	z-index: 99;
}
.imagefun-content{
	overflow: hidden;
	position: relative;
	background-color: #242424;
}
.imagefun-content .cover{
	width: 100%;
	position: absolute;
	left: 0;
}
.header-box .logo{
	width: 5%;
	text-align: center;
	height: 100%;
	float: left;
	margin-left: 10%;
}
.header-box .logo a{
	width: 100%;
	height: 100%;
	display: block;
}
.header-box .logo a img{
	margin-top: 9px;
}
.header-box ul{
	float: left;
	width: 80%;
	height: 100%;
}
.header-box ul li{
	float: left;
	height: 100%;
	list-style: none;
	margin-left: 5%;
}
.header-box ul li a{
	line-height: 62px;
	height: 100%;
	display: block;
	width: 100%;
	color: #FFFFFF;
    text-decoration: none;
}
.content-detail{
	position:absolute;
	top:0;
	z-index: 2;
}
/*副标题*/
.content-detail .title{
	width: 83%;
	height: 10%;
	margin-left: 10%;
	position: relative;
	border-bottom:1px solid #dedede;
	margin-top: 5%;
}
.content-detail .title .logo{	
	width:171px;
	position: absolute;
	bottom: 3%;
}
.content-detail .title .logo img{
	width: 100%;
}
.content-detail .title .qrcode{
	bottom: 0;
	right:0;
	position: absolute;
}
.content-detail .title span{
	font-size: 25px;
	color: #FFFFFF;
}
.content-detail .web-qrcode{
	position: absolute;
	width: 140%;
	height:250px; 
	bottom:-250px;
	left: -40%;
	display: none;
	background: url(../images/image_fun/erweimabeijing.png) no-repeat;
	background-size: 100% 100%;
}
.content-detail .web-qrcode .pic{
	width: 90%;
	height: 70%;
	margin-top: 15%;
	margin-left: 5%;
	border-bottom:1px solid #dedede;
}
.content-detail .web-qrcode .pic img{
	width: 90%;
	height:90%;
	display: block;
	margin: 10% auto ;
	background-color: #dedede;
}
.content-detail .web-qrcode .content{
	margin-top: 3px;
	font-size: 1em;
	text-align: center;
}
.content-detail .title .qrcode:hover .web-qrcode{
	display: inline-block;
}

#main{
	position: absolute;
	height: 70%;
	width: 30%;
	left: 10%;
	top:19%;
}
#main .logo{
 width: 290px;
 margin-top: 10%;
}
#main .logo img{
	width: 100%;
}
#main h1{
	margin-top: 1%;
	color: #ffffff;
	font-size: 3em;
	padding-left: 10%;
}
#main h2{
	color: #ffffff;
	font-size: 3em;
	padding-left: 10%;
}
#main h3:first-of-type{
	font-weight: lighter;
	color: #ffffff;
	margin-left: 10%;
	margin-top: 10%;
	font-size: 1em;
}
#main h3{
	font-weight: lighter;
	color: #ffffff;
	margin-left: 10%;
	font-size: 1em;
}